@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

body {
    margin: 0;
    background-color: var(--black) !important;
    color: var(--white) !important;
}


.wrapper {
    height: 88vh;
    width: 100vw;
    color: var(--white);
    display: flex;
    justify-content: center;
    gap: 5em;
}

/* .subnav, #content {
    flex: 1;
} */

.subnav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ol {
    height: 75vh;
    width: 30vw;
    min-width: 450px;
}
h1 {
    font-family: 'Nanum Myeongjo', serif !important;
    text-transform: uppercase;
    font-size: 1.75em;
    padding-bottom: 1em;
    letter-spacing: .1rem;
}

p, li {
    font-family: 'Nanum Myeongjo', serif !important;
}

li {
    font-size: 1.3em;
    line-height: 1.5;
    list-style: none;
    border-bottom: 1px solid var(--white);
    padding: .5em;
    transition: padding .5s ease-out;
    cursor: pointer;
}

li:hover {
    padding-left: 2rem;

}

li:active {
    padding-left: 2rem;
}

.active {
    padding-left: 2rem;
}

p {
    font-size: 1.3em;
    max-width: 580px;
    margin: 0em;
    margin-top: 1em;
}

  #content {
    display: flex;
    flex-direction: column;
    padding-top: 9em;
    flex: 1;
    transition: opacity 1s linear;
  }

