@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
:root {
    --serif: 'Newsreader', serif;
    --mono: 'Inconsolata', monospace;
    --sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --light: #c20067;
    --bg: #FFFFF9;
    --higlight: #23907f; 
    --dark: rgba(0, 0, 0, 0.75);
    --out: #23907f;
}

html, body {
    font-family: var(--serif);
    margin: 0;
    padding: 0;
    scrollbar-width: none; 
    background-color: var(--bg);
}

/* ~~~ STYLING ~~~ */
h2, h3 {
    font-family: var(--serif);
    font-weight: 400;
    /* font-weight: lighter; */
}

h1 {
    /* font-size: 2em; */
    font-size: 2.9rem;
    font-weight: 500;
}

h2 {
    font-family: var(--sans);
    font-weight: 100;
    font-size: 2.488rem;
}

h3 {
    font-family: var(--sans);
    font-size: 1.724rem;
    /* text-transform: uppercase; */
    font-weight: 300;
    margin-bottom: .5em;
}

h4 {
    font-family: var(--sans);
    font-size: 1.42rem;
    /* text-transform: uppercase; */
    font-weight: 300;
}

li {
    padding-top: .5em;
}

ul {
    margin-top: 0;
    list-style-type: circle;
}
a {
    color: var(--dark);
}

p {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.5em;
}

a:hover {
    color: var(--out);
    cursor: ne-resize;
}

hr {
    /* border: none; */
    width: 100%;
    border-top: 3px double #333;
    color: #333;
    /* overflow: visible; */
    /* text-align: center; */
    /* height: 5px; */
  }
  
  hr::after {
    background: #000;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
  }
  

.l-hide {
    display: none !important;
} 
  

/* ~~~ NAV ~~~ */
.nav {
    position: fixed;
    background-color: var(--bg);
    z-index: 2;
    font-family: var(--sans);
}
.topnav {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    width: 100vw;
    height: 30px;
    padding: 1vh 0em;


}

.topnav-right {
    width: calc(100vw - 50em);
    text-align: end;
    display: flex;
    justify-content: end;
    gap: 4em;
}

.topnav-right > a, .topnav > a {
    text-decoration: none;
}

.m-menu {
    position: absolute;
}

.here {
    color: var(--out);
    text-decoration: underline var(--out) 2px !important;
    cursor: pointer !important;
}

/* ~~~ PROJECT PAGES ~~~ */
.pj-frame {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5em;
    /* padding-bottom: 10em; */
}

.project-out {
    /* display: flex; */
    width: 100%;
    padding-bottom: 4em;
    /* align-items: normal; */
}
.project-out > p {
    padding-left: 1em;
}

.collaborators {
    font-family: var(--mono);
    width: 100%;
    opacity: .6;
    line-height: 150%;
    /* color: var(--light) */
}

.pj-info {
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pj-info > p {
    text-align: justify;
    width: 100%;
}

.pj-info > h3, .pj-info > h1 {
width: 100% !important; 
}

.imghero {
    width: 45vw;
}

.imgwrapper {
    display: flex;
    gap: 1em;
    padding: 1em;
    /* height: 500px; */
    /* max-width: 500px; */
}

.imgwrapper img {
    /* width: 100%; */
    /* width: calc(100%/2); */
    object-fit: cover;
}
/* ~~~ ABOUT ~~~ */
.abtsocials {
    font-family: var(--mono);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index-socials {
    display: flex;
    /* height: 1em; */
    gap: 1em;
    /* padding-top: 1em; */
    /* flex-flow: column wrap; */
    /* text-align: center; */
    /* justify-content: space-around; */
}

.index-socials > p {
    margin: 0;
    margin-bottom: -1em;
}

#aboutme {
    display: flex;
    width: 65rem;
    /* justify-content: space-around; */
    /* background-color: red; */
}

#abouttext > p {
    font-family: var(--serif);
    font-size: 1.44rem;
    /* font-weight: 400; */
    /* line-height: 150%; */
    /* font-weight: 300; */
    max-width: 620px;
}

#aboutme > img {
    justify-content: end;
    max-width: 10rem;
    padding: 2rem;
}
/* #aboutme > p > a { */
    /* font-weight: 300; */
    /* font-style: italic; */
    /* text-decoration: none; */
/* } */

#elsewhere {
    align-self: center;
    height: 300px;
}

/* ~~~ ABOUT / INDEX ~~~ */
.abtframe {
    /* border: 1px var(--dark) solid; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 5em;
    gap: 0em;
    justify-content: center;
    align-items: center;
}

.webring {
    flex-basis: 100%;
}

.webring > small > a {
    margin-left: 2em;
}

.abtinfo > h1 {
    font-size: 1.7em;
    line-height: 1.3em;
}

.abtinfo {
    font-family: var(--serif);
    max-width: 620px;
    /* border-left: 1px var(--dark) solid; */
    padding-left: 2em;
    min-width: 400px;
}

#abtimg {
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#abtimg > img {
    border-radius: 100em;
}

#email {
    padding-top: 1em;
    /* text-transform: uppercase; */
    /* letter-spacing: .05em; */
    align-self: center;
}

#contact {
    display: flex;
    gap: 1em;
    text-align: center;
    justify-content: center;
}

#contact > p {
    margin: 0;
}

details {
    padding: .25em;
    margin: .5em;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}

details > p {
    /* padding-left: 1em; */
    font-size: small;
}


/* ~~~ PLAYGROUNDS / EMOJI ~~~ */

.illos::before {
    content: ' ✎ '
}

.threed::before {
    content: ' ⌱ '
}

.zines::before {
    content: ' ☲ '
}

.texture::before {
    content: ' 〄 '
}

.web::before {
    content: ' ✦ '
}

.p5::before {
    content: ' ⚘ '
}

.max::before {
    content: ' ⚙︎ '
}


/* ~~~ PLAYGROUNDS ~~~ */
#playwrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: var(--bg);
}

.playground {
    width: calc(100vw/2);
    height: 75vh;
    margin: 1em;
    margin-right: 1em;
    margin-top: 1.5em;
    padding: 1em;
    border: 1px var(--dark) solid;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 2em;;
}

.p-content {
    margin-right: 2em;
}

.p-section {
    display: flex;
    gap: 3em;
    align-items: center;
    border-bottom: 1px var(--dark) solid;
    height: 5em;
    z-index: 10;
}

.p-section > h1 {
    text-transform: lowercase;
    font-style: italic;
    flex: 4;
}

.p-section > small {
    flex: 4;
    font-size: 10px;
    
}

.playheader {
    border: 1px solid var(--dark);
    border-top: none;
    width: 100vw; 
    height: 2em;
    display: flex;
    align-items: center;
    background-color: var(--higlight);
    gap: 1em;
}

.p-nav {
    width: calc(99vw/2);
    font-size: 1.5em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

#p-art {
    background-color: var(--dark);
    height: 100%;
    color: white;
}

#p-art > a {
    text-decoration: none;
    color: white;
}

#p-art > a:hover {
    color:  rgba(0, 0, 0, 0.45);
    transition: color .5s;

}
#p-code > a {
    text-decoration: none;
}

.playground:nth-child(2){
    background-color: var(--dark);
    color: white;
}

.p-title {
 display: flex;
 padding: 0;
 gap: 1em;
 writing-mode: vertical-rl;
 align-items: baseline;
 position: fixed;
 left: calc(99vw/2 - 65px);
 z-index: 10;
}

.p-title > h2 {
    margin: 0;
}

.code {
    color: white !important;
    border-bottom: 1px white solid !important;
}


#code-title {
    color: white !important;
    left: calc(100vw - 65px);
}

/* ~~~ FRAMES ~~~ */
.wrapper {
    display: flex;
    max-width: 100%;
    
}

.fade {
    animation: fadein 1.25s;
    -moz-animation: fadein 1.25s;
    -webkit-animation: fadein 1.25s;
    -o-animation: fadein 1.25s;
}
#mainframe {
    display: flex;
    flex-flow: column;
    padding: 1.5em;
    gap: 4em;
    /* width: 65vw; */
    padding: 5em 0 0 10em;
    margin: 0 0 5em 0;
    justify-content: left;
    position: absolute;
}

.bottom {
    font-family: var(--mono);
    font-size: .82em;
    width: 100%;
    /* align-items: left; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    padding-bottom: 4em;
}

.window {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    max-width: 426px;
    transition-delay: 2ms;
    z-index: 1;
    padding-top: 1em;
    position: relative;
}

.window a {
    text-decoration: none;
}
.window a:hover {
    color: var(--light)
}

.window:hover h2, .window:hover p {
    transform: translate(.5rem, 0em);
    transition: all 300ms ease;
}

.locked {
    opacity: .7;
}

.project-desc {
    margin-top: 0em;
    font-size: .833rem;
    font-family: var(--mono);
}

.project-title {
    font-family: var(--serif);
    font-size: 1.728rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 0;
}

.cover {
    z-index: 0;
    display: none;
    position: fixed;
    bottom: 1%;
    right: 5%;
    width: 40vw;
}

.cover img {
    width: 100%;
    object-fit: cover;
}

.window:hover > .cover {
    /* display:contents; */
    /* z-index: 3; */
    /* display: inline-block; */
    display: block;
    opacity: .89;
    /* position: fixed; */
    /* left: 40vw; */
    animation: fadein-pop 200ms ease-in;

}

.cover > img {
    max-width: 40vw;
}

.l-align {
width: 100%;
text-align: right;

}

.out-text {
    display: none;
    color: var(--out);
    padding: .2em .5em;
    border-radius: 2em;
    border: 1px solid var(--out);

}

.d-hide {
    display: none;
}

/* ~~~ MOBILE ~~~ */
@media only screen and (max-width: 690px){
    .m-hide {
        display: none !important;
    }

    .topnav > a {
        padding: .5em;
    }

    .frame {
        display: block;
    }

    #mainframe {
        width: 100vw;
        padding: 0em;
        gap: 3em;
        padding-top: 4.5em !important;
        padding: 1em;
    }
    .window {
        height: auto;
    }

    .cover {
        filter: grayscale(0%);
    }

    .abtframe {
        margin: 1em 3em !important;
        height: 80vh;
        align-items: center;
    }

    .out-text {
        margin-bottom: 2em;
        display: none;
    }

    .bottom > small {
        font-size: .7em;
    }

/* ~~~ M-NAV ~~~ */
    .nav {
        z-index: 5;
    }

    .m-nav {
        display: none;
        flex-direction: column;
        background-color: var(--bg);
        width: 100vw;
    }

    .change {
        display: flex !important;
        z-index: 1000;
        position: fixed;
        border-bottom: 1px var(--dark) solid ;
        animation: menusmooth 25ms    0ms ease-out forwards;
    }

    .m-nav > a {
        text-transform: lowercase;
        text-decoration: none;
        padding: .75em;
        margin-right: 3em;
        text-align: right;
        font-size: 1em;
    }
    
    .m-menu {
        display: block !important;
        position:relative;
        font-size: 2em;
        padding: .5em;
        padding-right: 1em;
    }

    .line {
        width: 32px;
        height: 1px;
        background-color: var(--dark);
        margin: 6px 0;
    }

@keyframes menusmooth {
    from {
            opacity: 0;
    }
    to {
    opacity: 1;
    transform: translate(0, .5vh); 
}   
}
/* ~~~ M-ABOUT ~~~ */

    .abtframe {
        margin: 0em !important;
        border: none;
        display: flex;
        z-index: 1;
        height: 100vh;
        gap: 0em;
    }

    #abtimg {
        width: auto !important;
    }

    .abtinfo {
        /* padding-top: 1em; */
        min-width: 0;
        padding-left: 0;
        border-left: none;
        text-align: left;
        padding-bottom: 20em;
    }

    /* ~~~ M-PROJECT ~~~ */
    .pj-frame {
        /* padding: 1em; */
        /* margin-right: 4em; */
        /* overflow: auto; */
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: 10em !important;
    }

    .pj-info {
        padding-left: 0em !important;
        border-left: white;
    }

/* ~~~ M-PLAYGROUND ~~~ */ 
.playground {
    width: 85vw !important;
    height: 78vh;
}

.p-section, .g-detail {
 display: block !important;
 height: auto;
 padding-bottom: .5em;
}

.p-section > h1 {
    font-size: 1.25em;
    margin-bottom: 0em;
}

}    



/* ~~~ DESKTOP ~~~ */
@media only screen and (max-width: 1050px){


/* ~~~ GENERAL ~~~ */

    .l-hide {
        display: flex !important;
    }

    #playwrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p-title {
        left: auto;
        writing-mode: horizontal-tb;
        position:inherit;
        padding: 0;
    }

    .playground {
        width: 76vw;
        justify-content: center;
    }

    .abtframe {
        margin-left: 1em;
    }
    
    #p-art {
        height: auto;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
    }
    .p-nav2 {
        flex-grow: 1;
        align-items: center !important;
        text-align: center;
        text-transform: uppercase;
        cursor:crosshair;
    }

    #abtimg {
        height: auto;
        width: 40vw;
    }
    .abtinfo {
        border-left: none;
        /* height: 25px; */
    }


}    

/* ~~~ TOOLS ~~~ */

.debug {
    border:1px solid red;
}

::-webkit-scrollbar {
    display: none;
}


/* fade animation pop-up */

@keyframes fadein-pop {
    from {
        opacity: 0;
        right: 7%;
    }

    to {
        opacity: .9;
        /* top: 34%; */
    }
}

@-moz-keyframes fadein-pop {

    /* Firefox */
    from {
        opacity: 0;
        top: 24%
    }

    to {
        opacity: .9;
        top: 34%;
    }
}

@-webkit-keyframes fadein-pop {

    /* Safari and Chrome */
    from {
        opacity: 0;
        top: 24%
    }

    to {
        opacity: 1;
        top: 34%;

    }
}

@-o-keyframes fadein-pop {

    /* Opera */
    from {
        opacity: 0;
        top: 24%
    }

    to {
        opacity: 1;
        top: 34%;
    }
}



/* load animation */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* rotate */

@keyframes rotation {
    100% {
        transform: rotate(-360deg);
    }
}

    @-moz-keyframes rotation {
        100% {
            -moz-transform: rotate(-360deg);
        }
    }
        @-webkit-keyframes rotation {
            100% {
                -webkit-transform: rotate(-360deg);
            }
        }
            @-o-keyframes rotation {
                100% {
                    -o-transform: rotate(-360deg);
                }
            }