.gallery {
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    position: relative;
    justify-content: space-evenly;
}

.g-detail {
    width: 100%;
    display: flex;
    gap: 3em;
    align-items: baseline;
    padding-top: 2em;
}

.g-detail > p {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    flex: 2;
}

.g-detail > small {
    font-size: 10px;
    flex: 4;
    
}
/* ~~~ ILLUSTRATIONS GALLERY ~~~ */

.g-relative > img {
    position: absolute;
}

.g-lace > img {
    width: calc(100%/3.2);
}

#zinegallery > img:hover {
    cursor: e-resize;
}
#i1 {
    width: 20vw;
    height: auto;
    top: 10px;
    left: 0px;
    z-index: 2;
}

#i2 {
    width: 30vw;
    top: 0px;
    left: 15vw;
}

#i3 {
    width: 20vw;
    top: 20vw;
    left: 22vw;
}

#i4 {
    width: 18vw;
    top: 32vw;
    left: 1vw;
} 

#i5 {
    width: 18vw;
    top: 42vw;
} 

#i6 {
    width: 18vw;
    top: 52vw;
    left: 25vw;
} 

#i7 {
    width: 23vw;
    top: 62vw;
    left: 0vw;
}

#i8 {
    width: 18vw;
    top: 72vw;
    left: 25vw;
} 

#i9 {
    width: 18vw;
    top: 87vw;
    z-index: 1;
} 

#i10 {
    width: 18vw;
    top: 102vw;
    left: 0vw;
    z-index: 2;
} 

#i11 {
    width: 25vw;
    top: 90vw;
    left: 23vw;
} 

#i12 {
    width: 24vw;
    top: 121vw;
    left: -3vw;
    z-index: 2;
} 

#i13 {
    width: 20vw;
    top: 128vw;
    left: 22vw;
    z-index: 1;
} 

/* ~~~ 3D GALLERY ~~~ */
#three-gallery > img {
    width: calc(41vw / 3);
}

/* ~~~ TEXTURE COLLECTOR ~~~ */
#c1 {
    width: 43vw;
    top: 10px;
}
#c2 {
    width: 18vw;
    top: 15vw;
    left: 26vw;
    border: 2px black solid;
    z-index: 2;
}
#c3 {
    width: 23vw;
    top: 27vw;
    left: 4em;
}
#c4 {
    width: 23vw;
    top: 37vw;
    left: 27em;
    z-index: 2;
}

#c5 {
    width: 18vw;
    top: 35vw;
    left: -4vw;
    border: 2px black solid;
    z-index: 3;
}

#c6 {
    width: 23vw;
    top: 45vw;
    border: 2px black solid;
    z-index: 2;
}
#c7 {
    width: 18vw;
    top: 59vw;
    border: 2px black solid;
    left: 0vw;
    z-index: 3;
}
#c8 {
    width: 18vw;
    top: 73vw;
    border: 2px black solid;
    left: 25vw;
    z-index: 2;
}
#c9 {
    width: 23vw;
    top: 71vw;
    left: 0vw;
}
#c10 {
    width: 23vw;
    top: 85vw;
    border: 2px black solid;
    z-index: 2;
}

@media only screen and (max-width: 1050px){
    .g-relative {
        position:static;

    }
    .g-relative > img {
        position: static;
        width: 30vw;
        top: auto !important;
        left: auto !important;
        object-fit: cover;
    }

    .m-hide {
        display: none;
    }

}