@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --light: #c20067;;
    --bg: #ffffff;
    /* --highlight: #fbebf4;  */
    --highlight: #e7f7f5; 
    --soft: #f1f1f1;
    --mid: rgba(0, 0, 0, 0.5);
    --dark: rgba(0, 0, 0, 0.75);
    --out: #23907f;
    --serif: 'Newsreader', serif;
    --sans: 'Public Sans', Helvetica, Arial, sans-serif;
    /* --sans: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    /* --mono: 'Roboto Mono', 'Courier New', mono; */
    --mono: 'Inconsolata', 'Courier New', mono;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}


/* ~~~ STYLING ~~~ */
body {
    color: var(--mid);
    font-family: var(--sans);
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}

p {
    color: var(--dark);
    overflow-wrap: normal;
    white-space: normal;
}
a {
    color: var(--dark);
}
a:hover {
    color: var(--out) !important;
}

a:visited {
    color: var(--mid);
}

h2, h3 {
    font-family: var(--serif);
    font-weight: 400;
    /* font-weight: lighter; */
}

h1 {
    /* font-size: 2em; */
    font-size: 2.9rem;
    font-weight: 500;
}

h2 {
    font-family: var(--sans);
    font-weight: 100;
    font-size: 2.488rem;
}

h3 {
    font-family: var(--sans);
    font-size: 1.724rem;
    /* margin: .5em 0em; */
    margin: 0;
    margin-top: 1em;
    color: var(--dark)
    /* text-transform: uppercase; */
    /* font-weight: 300; */
    /* margin-bottom: .5em; */
}

h4 {
    font-family: var(--sans);
    font-size: 1.42rem;
    /* text-transform: uppercase; */
    font-weight: 300;
}

p {
    font-weight: 400;
    font-size: 1.25em;
}

hr {
    margin-top: 3em;
    border: none;
    width: 100%;
    border-top: 3px solid var(--highlight);
    color: var(--highlight);
    overflow: visible;
    text-align: right;
  }
  
  hr::after {
    background: #fff;
    content: '✶';
    font-size: 30px;
    padding: 0 10px;
    position: relative;
    top: -20px;
  }
  
.mono {
    font-family: var(--mono);
}

/* details :) */
p::selection {
    background: var(--highlight);
    color: var(--out);
  }
p::-moz-selection {
background: var(--highlight);
color: var(--out);
}

a::selection {
    background-color: var(--highlight);
    color: var(--light);
}

a::-moz-selection {
    background: var(--highlight);
    color: var(--light);
    }

/* ~~~ NAV ~~~ */

/* .m-nav {
    text-decoration: none;
    font-size: 16px;
    height: 38px;
    padding: 0;
    z-index: 999999999;
    position: fixed;
    width: 100vw;
} */

.topnav {
    text-decoration: none;
    border-bottom: 1px solid var(--dark);
    font-size: 16px;
    padding: 10px;
    z-index: 99999999;
    background-color: var(--bg);
}

.active {
    font-size: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: var(--out);
}

.topnav-right a {
    border: none;
    text-decoration: none;
    color: var(--dark);
    font-size: 20px;
}

/* ~~~ MAIN PAGE & FRAMES ~~~ */
#page {
    overflow: hidden;
    position: absolute;
    top: 40px;
}

.fade {
    animation: fadein 1.25s;
    -moz-animation: fadein 1.25s;
    -webkit-animation: fadein 1.25s;
    -o-animation: fadein 1.25s;
}

.spacer {
    /* height: 200px !important; */
    padding: 100px;
    content: '✶';
}
.abtwindow {
    background-color: var(--highlight);
}
p.greeting {
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 10vh;
}

p.abtme {
    padding-top: 20px;
    font-size: 18px;
    width: 450px;
}

p.pskills, p.psub {
    font-family: var(--mono);
    overflow-wrap: normal;
    white-space: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--dark);
}

#email {
    padding-top: 1em;
    font-size: 22px;
    color: var(--out);
    margin: 0;
    margin-right: 10px;
}

#email::selection {
    background: var(--light);
    color: var(--bg)
}

p.credit {
    font-family: var(--mono);
    position: absolute;
    font-size: 12px;
    bottom: 20px;
}

p.pname {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
}

p.psub {
    color: var(--mid);
}


.projTitle {
    font-weight: 400;
    font-size: 18px;
    color: var(--mid);

}

.content {
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;
    overflow-wrap: normal;
    padding-left: 12%;
    padding-top: 30px;
    overflow: hidden;
    color: var(--mid);
    text-decoration: none;
    border-left: 1px solid var(--out);
    transition: border-left 300ms ease-in-out;
}

.content:hover {
    border-left: 10px solid var(--out);
}

.descrip {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-between;
    width: 500px;
}

.cover {
    max-width: 100%;
}

.end {
    flex-basis: 0 0 200px;
    display: flex;
    align-items: center;
    padding: 38px;
    background-color: var(--highlight);
    border-left: 1px solid var(--light);
    transition: all 300ms ease-in-out;
}

.end:hover {
    border-left: 10px solid var(--light);
    color: var(--light);
    cursor:all-scroll;
}

#getback {
    font-size: 120px;
    text-decoration: none !important;
}


/* ~~~ ABOUT ~~~ */
.abtframe {
    width: 100vw;
    display: flex;
    padding: 5em;
    gap: 2em;
    /* justify-content: center; */
}

#abtimg {
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;

}

.abtinfo {
    max-width: 620px;
    min-width: 400px;
}

.abtcredit {
        font-family: var(--mono);
        font-size: 12px;
}

/* ~~~ PROJECT PAGES ~~~ */

.pj-info {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding-top: 80px;
    max-width: 800px;
}



.pj-info > p, .pj-stack > p {
    font-size: 18px;
    word-spacing: 1px;
}

.pj-info > p {
    max-width: 600px;
}

.pj-frame {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 74vh;
    gap: 2em;
}

.pj-frame > .img-container {
    max-width: 500px;
}

.pj-details {
    display: flex;
    gap: 4em;
}

.pj-stack {
    max-width: 600px;

}

.pj-skills {
    font-family: var(--mono);
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    color: var(--dark);
}


.imghero {
    /* width: 45vw; */
    width: 100%;
    padding: 1em 0em;
}

.img-container > p {
    padding-top: 0em;

}

.imgwrapper {
    display: flex;
    gap: 1em;
    width: calc(100% - 1em);
    padding: 1em 0em;
    justify-content: center;
}

.imgwrapper img {
    /* width: 100%; */
    /* width: calc(100%/2); */
    object-fit: cover;
}

.wc2 {
  width: calc(100%/2);
  object-fit: cover;
}

.wc3 {
    width: calc(100%/3)
}

#img-tall {
    height: auto;
}

.vidwrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }
  
  .vidwrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* ~~~ EXPERIMENTS ~~~ */

.expflex {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1em;
    width: 70vw;
}


.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.expwindow {
    padding: 2em;
    /* background-color: var(--bg); */
    border: 1px solid var(--mid);
    border-radius: 22px;
    background-color: var(--soft)
}

.expwindow > a {
    max-width: 100%;
}

details {
    max-width: 100%;
    border: 1px solid var(--highlight);
    margin-top: 1em;
    padding: .5em;
    font-family: var(--mono);
}

.expwindow > img, .gallery {
    padding-top: 1em;
    max-width: 100%;
}

.exptitle {
    display: flex;
    align-items: baseline;
}

.exptitle > p {
    margin: 0;
    flex: 2;
}

.out-text {
    font-family: var(--mono);
    color: var(--out);
    padding: .2em .5em;
    border-radius: 2em;
    border: 1px solid var(--out);
}

.out {
    background-color: var(--bg);
}
.out:hover {
    transition: transform 300ms;
    box-shadow: 4px 4px var(--out);
    transform: translate(-.1em, -.1em);
    cursor: pointer;
}

#darkbg {
    background-color: #f1f1f1;
    height: inherit;
}

@media only screen and (max-width: 700px) {
    .expHeader {
        padding-left: 30px;
    }

    .allExperiments {
        padding-bottom: 100px;
        margin-left: 0;
        margin-right: 0;
        width: calc(100vw - 30px);
    }

    .expCol1 {
        margin-left: 15px;
        float: none;
        width: 100%;
        padding-bottom: 0;
    }

    .expCol2 {
        margin-left: 15px;
        float: none;
        width: 100%;
    }

    #headshot {
        width: 50%;
    }

    .hidehide {
        display: none;
    }


}


/* _________________________MOBILE_________________________ */
@media only screen and (max-width: 480px) {


/* ~~~ M-NAV ~~~ */
.nav {
    z-index: 5;
    padding: 0;
}

.topnav {
    position: fixed;
    width: 100vw;
}

.m-nav {
    display: none;
    flex-direction: column;
    background-color: var(--soft);
    width: 100vw;
    position: sticky;
    padding-top: 50px;
}

.change {
    display: flex !important;
    z-index: 1000;
    position: fixed;
    border-bottom: 1px var(--dark) solid;
    animation: menusmooth 200ms ease-out forwards;
}

.m-nav > a {
    padding: .5em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.25em;
}

.m-menu {
    float: right;
    display: block;
    padding: 0em 30px;
    font-size: 2em;
}

.line {
    width: 32px;
    height: 1px;
    background-color: var(--dark);
    margin: 6px 0;
}

@keyframes menusmooth {
from {
        opacity: 0;
}
to {
opacity: 1;
transform: translate(0, .5vh); 
}   
}

/* ~~~ M-MAIN ~~~ */

#page {
    top: 0px;
}

p.greeting {
    font-size: 38px;
}

p {
    font-size: .8em;
}

p.abtme {
    width: 90vw;
}

    .m-hide {
        display: none !important;
    }

    .spacer {
        padding-top: 0px;
    }

    .window {
        border-bottom: 1px solid var(--dark);
        width: 92vw;
        /* height: 550px; */
        padding: 1em;
    }

    .content {
        padding: 0px 0px;
        border-left: none;
        /* width: 40vw; */
    }

    .descrip {
        flex-direction: column;
        width: 300px;
    }

    .end {
        border-left: none;
        padding: 42px;
    }


/* ~~~ M-PROJECT ~~~ */

    .pj-details {
        flex-direction: column;
        flex-flow: column-reverse;
        gap: 0;
    }

    .pj-info {
        padding-top: 60px;
    }

    .pj-frame {
        padding: 0em .5em;
        width: calc(100vw - 15px);
    }

    .pj-skills {
        padding-right: 1em;
    }

    .imgContainer {
        position: relative;
        /* text-align: center; */
        overflow: hidden;
        height: 300px;
        max-height: 500px;
        margin-top: 20px;
    }

    .cover {
        max-width: 100%;
        max-height: 100%;
        /* object-fit: cover; */
        position: absolute;
        margin: auto;
    }

    .imgwrapper {
        gap: .25em;
    }

    hr, h3 {
        margin-top: 0em;
    }

    .expflex {
        flex-direction: column;
        width: 95vw;
    }

    .exptitle > p {
        font-size: 1em;
        font-weight: 500;
    }
/* ~~~ M-ABOUT ~~~ */
.abtframe {
    padding: 3.5em .5em;
    flex-direction: column;
    width: 100vw;
    gap: 0em;
}

.abtinfo {
    max-width: 90vw;
    min-width: 80vw;
}

.abtinfo p {
    font-size: 1em;
}
    #abtimg {
        width: 95%;
    }

}

/* _________________________DESKTOP_________________________ */
@media only screen and (min-width: 480px) {

    .dHide {
        display: none;
    }

    /* Right-aligned section inside the top navigation */
    .topnav {
        width: 100vw;
        position: fixed;
        background-color: var(--bg)
    }

    .topnav-right {
        float: right;
        display: block;
        padding: 0em 30px;
    }

    .topnav-right a {
        padding: 10px;
        float: center;
        padding: 0em 30px;
    }

    .topnav .icon {
        display: none;
    }



    .window {
        height: 100vh;
        padding-bottom: 50px;
        display: flex;
        overflow: hidden;
        border-left: 0.5px solid var(--light);
    }



    #page {
        white-space: nowrap;
        position: fixed;
        top: 40;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-wrap: no-wrap;
    }



    .projContent {
        position: absolute;
        margin-top: 5vh;
        vertical-align: middle;
        max-height: calc(100vh - 60px);
    }


    .abtwindow {
        padding: 8px 50px 38px 39px;
        overflow-wrap: normal;
        white-space: normal;
        max-width: 100%;

    }

    /* .stacked {
        width: 100%;
        height: 100%;
        position: static;

    } */

    .imgContainer {
        position: relative;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 450px);
        max-height: 538px;
    }





    .card {
        overflow: hidden;
        margin-bottom: 3vh;
    }

    .projName {
        padding-top: 20px;
    }




    .social {
        position: absolute;
        bottom: 40px;
        left: 30px;
    }

    .social1 {
        padding-right: 5px;
        width: 35px;
    }


    .abtwindow {
        flex: 0 0 600px;
    }

    .c1 {
        flex: 0 0 660px;
    }


    .c2 {
        flex: 0 0 589px;
    }

    .c3 {
        flex: 0 0 589px;

    }

    .c4 {
        flex: 0 0 589px;
    }

    .c5 {
        flex: 0 0 589px;
    }

    .c6 {
        flex: 0 0 638px;
    }

    .c7 {
        flex: 0 0 589px;
    }

    .c8 {
        flex: 0 0 589px;
    }

    .img01 {
        overflow: hidden;
        width: 508px;
    }

    .img02 {
        overflow: hidden;
        width: 508px;

    }

    .img03 {
        overflow: hidden;
        width: 580px;
        /*height: calc(100vh - 500px);*/
        /*height: 280px;*/
    }

    .img04 {
        overflow: hidden;

        width: 508px;

    }

    .img05 {
        overflow: hidden;
        width: 508px;
    }

    .img06 {
        overflow: hidden;
        width: 580px;
        /*height: calc(100vh - 520px);*/
    }

    .img07 {
        overflow: hidden;
        width: 508px;
    }

    .img08 {
        overflow: hidden;
        width: 508px;
    }


    .cover {
        max-width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }


    .stack3 {
        width: 100%;
        height: 150%;
        /*position: absolute;*/
        overflow: hidden;

    }

    .stack4 {
        color: white;
        width: 100%;
        height: 20%;
        border-top: 1px solid var(--dark);
        position: absolute;
        bottom: 0;
        z-index: 998;
        background-color: var(--bg);
    }

    .stack4:hover {
        border-top: 5px solid var(--mid);
        cursor: pointer;
    }

    .stack5 {
        width: 100%;
        height: 130%;
        /*position: absolute;*/
        overflow: hidden;

    }

    .stack6 {
        color: white;
        width: 100%;
        height: 120px;
        padding: 10px;
        border-top: 1px solid var(--dark);
        position: absolute;
        bottom: 10px;
        z-index: 997;
        background-color: var(--bg);
    }

    .stack6:hover {
        border-top: 5px solid var(--mid);
        cursor: pointer;
    }





}


@media only screen and (max-height: 1000px) {
    p.pname {
        font-size: 32px;
    }

}


/* load animation */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}