:root {
    --p: 'Work Sans', sans serif;
    --h: 'EB Garamond', serif;
}

html, body {
    font-family: var(--p);
    margin: 0;
    padding: 0;
    scrollbar-width: none;  /* Hide Scroll on Firefox */
    height: 100%;
    width: 100%;
}

/* ~~~ STYLING ~~~ */
h1, h2, h3 {
    font-family: var(--h);
    font-weight: lighter;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.25em;
}

/* ~~~ NAV ~~~ */
.nav {
    position: fixed;
    background-color: white;
    /* border-bottom: 1px solid black; */
}
.topnav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    padding: 0px;
    width: 100vw;
    height: 30px;
    padding: 1.5vh;
    border-bottom: 1px solid black;

}

.topnav-right > a {
    padding: 2em;
    min-width: 160px;

}

.moji {
    border: 1px solid black;
    border-top: none;
    width: 100vw; 
    height: 2em;
    display: flex;
    align-items: center;
    background-color: beige;
    /* flex: 0 0 100%; */
}

.emoji {
    width: calc(100vw / 9);
    text-align: center;
    align-self: center;
    
}

/* ~~~ NAV / EMOJIS ~~~ */
.wave::after {
    content: ' 👋🏽 '
}
.pill::after {
    content: ' 💊 '
}
.ml::after {
    content: ' 🪴 '
}

.ml {
    letter-spacing: -0.01em;
}
.alex::after {
    content: ' 🥰 '
}
.rock::after {
    content: ' 🪨 '
}
.winmaker::after {
    content: ' 🌃 '
}
.twine::after {
    content: ' 📝 '
}
.oam::after {
    content: ' 🌌 '
}
.tarot::after {
    content: ' 🃏 '
}

/* ~~~ ABOUT ~~~ */
.index-socials {
    display: flex;
    height: 4.5em;
    flex-flow: column wrap;
    text-align: left;
}

.index-socials > p {
    margin: 0;
    margin-bottom: -1em;
}

.aboutindex {
    background-color: beige !important;
    color: black !important;
}

#aboutme {
    display: flex;
    flex-flow: row wrap;
}

#aboutme > h1 {
    margin: 0;
    padding: 1;
}

#elsewhere {
    align-self: end;
    height: 300px;
}

/* ~~~ ABOUT / INDEX ~~~ */
.abtframe {
    border: 1px black solid;
    margin: 2em;
    margin-top: 1.5em;
    margin-right: 3em;
    height: calc(74vh);
    display: flex;
    padding: 2em;
    gap: 2em;
    justify-content: center;
    align-items: flex-start;
    transition: border-radius 2s;
}

.abtinfo > h1 {
    font-size: 1.7em;
    line-height: 1.3em;
}

.abtinfo {
    max-width: 500px;
    border-left: 1px black solid;
    padding-left: 2em;
    min-width: 400px;
}

#abtimg {
    max-width: 450px;
    /* flex: 1; */
}

#abtimg > img {
    border-radius: 100em;
}

#email {
    border: 1px black solid;
    padding: .5em;
    text-transform: uppercase;
}

#contact {
    display: flex;
    gap: 2em;
    text-align: center;
    justify-content: space-around;
}

#contact > p {
    margin: 0;
}


/* ~~~ PLAYGROUNDS / EMOJI ~~~ */

.illos::after {
    content: ' ✎ '
}

.threed::after {
    content: ' ⌱ '
}

.zines::after {
    content: ' ☲ '
}

.texture::after {
    content: ' 〄 '
}

.web::after {
    content: ' ✦ '
}

.p5::after {
    content: ' ⚘ '
}

.max::after {
    content: ' ⚙︎ '
}


/* ~~~ PLAYGROUNDS ~~~ */
#playwrapper {
    display: flex;
    justify-content: center;
    width: 99vw;

}

.playground {
    width: calc(100vw/2);
    height: 75vh;
    margin: 1em;
    margin-right: 1em;
    margin-top: 1.5em;
    padding: 1em;
    border: 1px black solid;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.p-content {
    margin-right: 2em;
}

.p-section {
    display: flex;
    gap: 3em;
    align-items: center;
    border-bottom: 1px black solid;
    height: 5em;
    z-index: 10;
}

.p-section > h1 {
    text-transform: lowercase;
    font-style: italic;
    flex: 4;
}

.p-section > small {
    flex: 4;
    font-size: 10px;
    
}

.playheader {
    border: 1px solid black;
    border-top: none;
    width: 100vw; 
    height: 2em;
    display: flex;
    align-items: center;
    background-color: beige;
    gap: 1em;
}

.p-nav {
    width: calc(99vw/2);
    font-size: 1.5em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

#p-art {
    background-color: black;
    height: 100%;
    color: white;
}

#p-art > a {
    text-decoration: none;
    color: white;
}

#p-code > a {
    text-decoration: none;
}

.playground:nth-child(2){
    background-color: black;
    color: white;
}

.p-title {
 display: flex;
 gap: 1em;
 writing-mode: vertical-rl;
 align-items: baseline;
 position: fixed;
 left: calc(99vw/2 - 65px);
 z-index: 10;
}

.code {
    color: white;
    border-bottom: 1px white solid !important;
}

#code-title {
    left: calc(99vw - 65px);
}

/* ~~~ FRAMES ~~~ */
.frame {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#firstframe {
    padding-top: 7em;
}

.window {
    background-color: white;
    border: 1px solid black;
    padding: 2em; 
    margin-bottom: 1.2em;
    display: flex;
    flex-direction: column;
    transition-delay: 2ms;
    transition: border-radius 2s;
    flex-basis: calc(100vw / 3.75);
}

.project-title {
    display: flex;
    width: 100%;
    align-items: center;
}
.project-title > h2 {
    margin: 0;
    flex-grow: 5;
}

.collaborators{
    font-size: .75em;

}

.project-desc {
    /* font-family: var(--h);
    font-size:  1.2em; */
    align-self: end;
}

.project-tags {
    font-size: .75em;
    text-transform: lowercase;
    display: flex;
    flex-wrap:  wrap;
    width: 100%;
    gap: .5em;
    margin-bottom: 5vh;
}

.project-tags > p {
    margin-bottom: -15px;
    background-color: rgb(164, 159, 159);
    color: white;
    padding-left: .6em;
    padding-right: .6em;
    padding-top: .2em;
    padding-bottom: .2em;
    border-radius: 1em;
}

.img-container {
    width: 100%;
    height: calc(40vh);
    position: relative;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.l-align {
width: 100%;
text-align: right;

}

@keyframes curve-in {
    from { border-radius: 0em }
    to { border-radius: 1em }
}

.window:hover, .abtframe:hover {
    animation-name: curve-in;
    animation-duration: .5s;
    border-radius: 1em;
    cursor: all-scroll;
}


/* ~~~ MOBILE ~~~ */
@media only screen and (max-width: 480px){
    .m-hide {
        display: none !important;
    }

    .topnav {
        width: 90vw;
    }

    .frame {
        display: block;
    }
    .window {
        width: 86%;
        margin-bottom: 1em;
        height: auto;
        padding: 1em;
    }

    .m-menu {
        display: block !important;
        font-size: 2em;
    }
    #firstframe {
        padding-top: 4em;
    }
}    


/* ~~~ DESKTOP ~~~ */
@media only screen and (max-width: 1050px){

    .window {
        /* flex-basis: calc(100vw / 2); */
        flex-basis: 560px;
        height: auto;
    }

    .abtframe {
        flex-direction: column;
        overflow: auto;
        margin-left: 1em;
    }
    
    .abtinfo {
        border: none;
    }

}    

/* ~~~ TOOLS ~~~ */

.d-hide {
    display: none;
}

.debug {
    border:1px solid red;
}

::-webkit-scrollbar {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');