html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--bg);
    font-family: var(--serif);
}

canvas {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1 !important;
}
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background-color: var(--bg);
    overflow-y: scroll;
}

.present {
    width: 75%;
    display: block;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 2rem;
    /* overflow: hidden; */
    /* overflow-y: scroll; */
}

.play {
    padding-top: 0%;
    overflow-y: scroll;
    /* overflow: hidden;  */
    padding-right: 10em;
    /* background-color: beige; */
}

.project_title {
    margin-top: 1rem;
    font-size: 2.5rem;
    /* margin-bottom: 2rem; */
}
.project_info {
    display: flex;
    gap: .5em;
    width: 80%;
}

.project_details {
    margin-top: .8em;
    width: 30%;
    /* background-color: gainsboro; */
    min-width: 200px;
    flex-shrink: 1;
    font-family: var(--sans);
    font-size: 1.0rem;
}

.project_img {
    width: 80%;
    object-fit: cover;
    max-height: 90vh;
    /* transform: translate(5%); */
    margin-bottom: 1em;
}

.project_desc {
    flex-shrink: 1;
    margin-bottom: 5%;
    font-size: 1.4rem;
    text-align: justify;
    text-justify: inter-word;
    max-width: 600px;

}

.playground {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: block;
}

.play_desc {
    top: 2em;
    right: 2em;
    position: absolute;
    display: flex;
    gap: 2em;
    align-items: baseline;
    writing-mode: vertical-rl;
}

.play_desc p {
    font-family: var(--sans)
}

.play_img {
    max-width: 80%;
    min-width: 0;
}

.drag {
    max-width: 20%;
    border-radius:15px;
    position: absolute;
    border: 1px solid #000000;
    /* position: absolute; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    filter: grayscale(100%);
}

.drag:hover{
    /* filter: none; */
    border: 1px solid var(--hot);
    filter: grayscale(0%);
    /* filter: drop-shadow(0 0 5px hotpink); */

}

.code_play {
    margin-top: 70vh;
}

.code_play img:hover {
    transition: 0.3s;
    opacity: .2;
}

#code_desc {
    margin-bottom: 8em;
}

.flex_img {
    display: flex;
    gap: 2em;
    width: 80%;
    justify-content: space-evenly;
    object-fit: cover;
    /* margin-top: 2em; */
    transform: translate(12%);
}
#bio {
    max-width: 700px;
}

#navbar {
    top: 0;
    left: 0;
    position: sticky;
    height: 100%;
    width: 300px;
}

@media screen and (max-width: 1200px) {
    .project_info {
      display: block;
    }
}
  
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        font-size: 12px !important;
        overflow-x: hidden;
        /* float: left; */
        /* margin-top: 15px; */
    }

    .wrapper {
        /* display: block; */
        height: 100%;
    }

    iframe {
        font-size: 12px !important;
        width: 100%;
        position: fixed;
        display: left;
    }


    .present {
        margin-top: 15%;
    }

    .ill_info {
        display: block;
    }

}