/* @import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap'); */


@font-face {
  font-family: 'Sigurd';
  src: url('./fonts/Sigurd-Variable.woff2') format('woff2-variations');
  font-weight: 100 900; /* Range for weights supported */
  font-style: normal italic;   /* or normal italic, or range if supported */
}

:root {
    --light: #c20067;;
    --bg: #fafafa;
    --highlight: #e7f7f5; 
    --soft: #F1F0EE;
    --bglite: rgba(250, 250, 250, 0.8);
    --mid: rgba(0, 0, 0, 0.4);
    --dark: rgba(0, 0, 0, 0.75);
    --out: #23907f;
    --serif: 'Sigurd', serif;
    --sans: 'Public Sans', Helvetica, Arial, sans-serif;
    --mono: 'DM Mono', 'Courier New', mono;
}

/* Base styles */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    cursor: pointer;
}

body {
    font-family: var(--sans);
    line-height: 1.6;
    color: var(--dark);
    background: #fafafa;
}

/* Typography */
h1 {
    font-family: var(--serif);
    margin: 0 0 1rem 0;
    font-size: 4rem;
    font-weight: 300;
    font-variation-settings: "slnt" -9;
    line-height: 100%;
}

#main h1 {
    font-size: 6rem;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: .5rem 0;
    /* margin-top: 1.5rem; */
}

p {
    margin: 0.75rem 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
}

#focus-areas p, .col p {
    margin: 0 0 2rem 0;
}

#main p {
    font-size: 24px;
    line-height: 170%;
    margin-top: 0;
}

.serif {
    font-family: var(--serif);
}

/* Section styling */
.section {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin: 0 5rem 10rem 5rem;
    background-color: var(--bglite);
    padding:10px;
-moz-box-shadow:0px 0px 7px var(--bglite);
-webkit-box-shadow:0px 0px 7px var(--bglite);
box-shadow:0px 0px 7px var(--bglite);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 
}

.row {
    display: flex;
    flex: 1;
    gap: 4em;
}


.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

#canvas {
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.full {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.connect-links {
    display: flex;
    gap: 1em;
}

#main {
    padding: 10rem;
    margin: 0 auto;
    z-index: 100;
}

footer {
  padding: 1rem 5rem;
  background-color: var(--soft);
  display: flex;
  flex-flow: row;
}

footer p {
  font-size: .92rem;
}


a {
    /* display: inline-block; */
    /* margin-right: 1rem; */
    /* margin: auto 1rem; */
    color: var(--light);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* maybe button focus details */
/* details :) */
::selection {
    background: var(--soft);
    color: var(--out);
  }
p::-moz-selection {
background: var(--highlight);
color: var(--out);
}

a::selection {
    background-color: var(--highlight);
    color: var(--light);
}

a::-moz-selection {
    background: var(--highlight);
    color: var(--light);
    }

/* Fade-in animation */
.fade-in {
    opacity: 0;
    animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#info.fade-in {
    animation-delay: 0.2s;
}

#focus-areas.fade-in {
    animation-delay: 0.4s;
}

#connect.fade-in {
    animation-delay: 0.6s;
}

#projects {
    margin: auto;
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
}

.project-card {
    padding: 1.5rem 0rem;
    min-width: 150px;
    flex: 0 0 29%;
}

.project-card > a {
    color: var(--dark);
}

a > p{
    color: var(--mid);
}

.project-card > a:hover {
    text-decoration: none;
}

.preview-image {
    background-color: #e2e2de;
    background-position: 50%;
    background-size: cover;
    border-radius: 12px;
    display: block;
    padding-bottom: 65%;
    transition: all .3s ease;
    transition: all .4s ease !important;
    width: 100%;
}

.preview-image:hover {
        transform: scale(1.05);
    }

.project-context {
    display: flex;
    color: var(--mid);
}

.dot::before {
    display: inline;
}
