html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--bg);
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.present {
    width: 65%;
    display: block;
    padding-left: 5%;
    padding-right: 10%;
    overflow-y: scroll;
}

.play {
    padding-top: 0%;
    overflow-y: scroll;
}

.project_info {
    display: flex;
    gap: 1em;
    /* background-color: blanchedalmond; */
}

.project_title {
    margin-top: 5%;
}

.project_details {
    /* margin-top: 1em; */
    width: 70%;
    /* background-color: gainsboro; */
    min-width: 200px;
    flex-shrink: 1;
}

.project_img {
    width: 80%;
    max-height: 90vh;
    transform: translate(12%);
    margin-bottom: 1em;
}

.project_desc {
    flex-shrink: 2;
    margin-bottom: 5%;
}

/* .playground {
    background-color: lightsalmon;
} */

.play_desc {
    top: 2em;
    right: 2em;
    position: absolute;
    display: flex;
    gap: 20px;
    align-items: baseline;
    writing-mode: vertical-rl;
}

#bio {
    max-width: 750px;
}

iframe {
    top: 0;
    left: 0;
    position: sticky;
    width: 35%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .project_info {
      display: block;
    }
}
  
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        font-size: 12px !important;
        overflow-x: hidden;
        /* float: left; */
        /* margin-top: 15px; */
    }

    .wrapper {
        display: block;
    }

    iframe {
        font-size: 12px !important;
        width: 100%;
        z-index: 1;
        position: absolute;
        display: block;
    }

    .present {
        margin-top: 15%;
    }

}