@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro');

:root {
    /* color theme */
    --dark: #333333;
    --bright: #1a7a6c;
    --hot: #c20067;
    --bg: #F7F8FA;
    --serif: 'EB Garamond', 'Times New Roman', Times, serif;
    --sans: "Inter", Arial, Helvetica, sans-serif;
    /* --sans: "Source Serif Pro", Arial, sans-serif; */
}

body {
    color: var(--dark);
    font-size: 1.4rem;
    word-wrap: break-word;
}

h3 {
    font-size: 1.2em;
    margin-block-end: 0;
}

a {
    color: var(--bright);
    text-decoration: none;
}

a:hover {
    color: var(--hot);
}
